div{
    height: 300px;

}

.big_img{
    background: url('./../big.jpeg');
}



.small_img{
    background: url('./../small.jpeg');
}

.folder_img{
    background: url('./../images/folder-img.jpeg');
}