* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    height: 300px;
    min-height: 100vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

h1{
    color: white;
}

.big_img {
    background: url('./big.jpeg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.small_img {
    background: url('./images/folder-img.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.folder_img {
    background: url('./big.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 